@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply transition-colors duration-500
}


.toast-position {
    top: 7rem !important;
  }

  ::-webkit-scrollbar {
    width: 10px;
    
}

::-webkit-scrollbar-track {    
    background-color: #7498bb
}


::-webkit-scrollbar-thumb {
    background-color: rgb(148, 148, 148);    
}

::-webkit-scrollbar-thumb:hover{
    background-color:rgb(108, 108, 108);
}